
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  html, body {
    height: 100%;
    margin: 0;
  }
  

  body {
    background-color: #08cfcf; 
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  

  .wd-content-container {
    width: px;
    height: 900px;  

  }
  

  @media (max-width: 768px) {
    .wd-content-container {
      height: 200px; 
    }
  }
  
  @media (max-width: 480px) {
    .wd-content-container {
      height: 150px; 
    }
  }
  